@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background: #24292f;
  display: flex;
  color: white;
  padding: 20px;
  gap: 30px;
  font-family: 'Gafata', sans-serif;
  justify-content: space-between;
}

.header--links {
  color: white;
  text-decoration: none;
}

.header--links:visited {
  color: white;
  text-decoration: none;
}

.header--links:hover {
  color: white;
  text-decoration: underline;
}

.header__home-link {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__home-link img {
  height: 100%;
  width: 36px;
  filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(255deg) brightness(103%) contrast(106%);
}

.header__logo {
  font-size: 24px;
}

.menu {
  color:black;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Gafata', sans-serif;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__list-user {
  display: flex;
}

.menu__item {
  list-style: none;
}

.menu__link {
  color:black;
  font-family: sans-serif;
  margin-right: 1rem;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu--button {
  background-color: white; /* Green */
  border: none;
  border-radius: 12px;
  color: black;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.menu--button:hover {
  text-decoration: underline;
}

.signup-forms {
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.aside {
  padding-top: 15px;;
  padding-left: 20px;
  padding-bottom: 20px;;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile-stats {
  width: 25%;
}

.profile-puzzles {
  width: 75%;
}

/* Mistakes.jsx */
#errors {
  color: #2ea44f;
}

.spanMistakes {
  color: black;
}

.headerBoard {
  display: flex;
  width: 28rem;
  flex-direction: row;
  justify-content: space-between;
}

/* Board.jsx */
.board {
  width: 29rem; /* 450 px*/
  /* height: 28rem; 450 px */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
}

.tile {
  width: 3rem; /* 48 px*/
  height: 3rem; /* 48 px*/
  border: 0.063rem solid #2ea44f;

  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-start {
  background-color: #a1ecb6;
}

.horizontal-line {
  border-bottom: 0.125rem solid #063757;
}

.vertical-line {
  border-right: 0.125rem solid #063757;
}


/* NumberSelector.jsx */
#digits {
  width: 9.375rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 20px;
}

.number {
  width: 2.75rem;
  height: 2.75rem;
  border: 1px solid black;
  margin: 0.125rem;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  border-radius: 0.313rem;
}

.number:hover {
  font-size: 26px;  
  background-color: #3498db;
}

.inactive {
  background-color: #2ea44f;
}

.active {
  background-color: #3498db;  
}

.gameconfig {
  /* background-color: yellow; */
  width: 50%;
 }

.gamesection {
   /* background-color: whitesmoke; */
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 9%;
  justify-content: space-between;
}

.gameSelectorTimer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: aquamarine; */
}

.gameSelectorTimer2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: orange; */
  margin-top: 8%;
}

.main_section_primary_div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background-color: yellowgreen;  */
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer p {
 font-size: 20px;
}

.innerContainer {
  /* background-color: aquamarine; */
  margin: 0 auto;
  display: flex;
  max-width: 700px;
  min-width: 270px;
  margin-top: 30px;
}

.gameOptions {
  /* background-color: yellowgreen; */
  width: 30%;
}

.gameDifficulty {
  /* background-color: yellow; */
  text-align: center;
  left: 20px;
  top: 39px;
}

.gameMisTimer {
  display: flex;
  justify-content: center;
  left: 10px;
  margin: 0 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.gameMistakes {
  padding: 4%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameTimer {
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: orangered; 
}

.CompletionBox {
  background-color: #3498db;
  width: 450px;
  height: 450px;
  text-align: center;
  border: 5px solid black;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  margin: 0 auto;
}

.CompletionBoxh1 {
  font-size: 20px;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  padding-top: 20px;
}

.CompletionBox2 {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.CompletionBoxList {
  background-color: white;
  text-align: left;
  font-size: 20px;
}

.CompletionBoxListValues {
  background-color: #2ea44f;
  text-align: left;
  font-size: 20px;
}

.CompletionBoxListUL {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.CompletionBoxListUL li {
  padding: 10px;
}

.game {
  width: 70%;
}